doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='../stylesheets/form.css')
    body.page
        form(method='post', action='/add').form
            h1.form__title Add a Routine
            section.form__section.section
                h2.section__title Routine Information
                label.section__label(for='routine-name') Routine Name (required)
                input(type='text', name='routine-name' maxlength='80' required).section__input
                label.section__label(for='routine-seconds') Seconds per Stretch (required)
                input(type='number', name='routine-seconds' min='5' max='3000' step='5' required).section__input
                | seconds
            - var n = 1;
            while n <= 25
                section(class=`form__section section exercise-section`)
                    h2.section__title Exercise !{n}
                    if n < 3
                        label.section__label(for='exercise-name') Exercise !{n} name (required)
                        input(type='text' name='exercise-name' required).section__input.section__exercise-name
                    else
                        label.section__label Exercise !{n} name (optional)
                        input(type='text' name='exercise-name' maxlength='40').section__input.section__exercise-name
                    label.section__label(for='exercise-image') Exercise !{n++} image (optional)
                    input(type='url' name='exercise-image' placeholder=`http://` maxlength='256').section__input.section__exercise-img
            .form__add-more.add-more
            script(src='../scripts/form.js')
            .form__action-buttons
                button(type='submit').action-buttons.action-buttons__submit Create Routine
                button(type='reset').action-buttons.action-buttons__reset Clear Routine
        nav.navigation
            a(href='/').navigation__link Return to List of Routines
