doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='../stylesheets/style.css')
        link(rel='stylesheet', href='../stylesheets/timer.css')
    body.page
        article.stretch-timer
            h1.stretch-timer__name=data.name
            p.stretch-timer__instructions.instructions Do each exercise for
                span.instructions__seconds  !{data.seconds} 
                | seconds
            ol.stretch-timer__routine.routine
                each exercise in data.exercises
                    li.routine__exercise-name=exercise['name']
                        if (exercise.img)
                            a(href=exercise.img).exercise-img  (View Image)
            timer-object(time=data.seconds)
            script(src='../scripts/timer.js' type='module')
            script(src='../scripts/exerciseListUI.js')
        nav.navigation
            ul.navigation__list
                li.navigation__link
                    a.navigation__link(href="#") Choose a Different Routine
                li.navigation__link
                    a.navigation__link(href='../add') Add a Routine